<div class="login-form-wrap">
  <div class="login-form">
      <h2 class="login-form__title mat-h2">Welcome back, please sign in</h2>
      <app-authorize-form [inputForm]="loginForm" [errorsMsg]="errorMsg"></app-authorize-form>

      <div class="login-form__btns">
          <button class="login-form__submit" mat-raised-button color="primary" (click)="onSignIn()">Sign in</button>

          <a class="login-form__registration" mat-button color="primary" (click)="onOpenRegistation()">Sign up</a>
      </div>
  </div>
</div>
