<div [formGroup]="inputForm">
  <mat-form-field>
    <input type="email"
      matInput
      placeholder="Enter your email"
      formControlName="email"
      required>
    <mat-error *ngIf="inputForm.get( 'email' ).invalid">{{errorsMsg}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password"
      matInput
      placeholder="Enter your password"
      formControlName="password"
      required>
    <mat-error *ngIf="errorsMsg">{{errorsMsg}}</mat-error>
  </mat-form-field>
</div>
