<mat-sidenav-container class="container">
  <mat-sidenav *ngIf="fireBase.authenticated" mode="side" opened class="sidebar">
    <ul class="sidebar-menu custom-list">
      <li class="sidebar-menu__item sidebar-menu__item_logo" routerLink="/">
          <mat-icon aria-hidden="false" aria-label="spa-icon">spa</mat-icon>
      </li>
      <li class="sidebar-menu__item" routerLink="/home" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="home-icon">home</mat-icon>
      </li>
      <li class="sidebar-menu__item" routerLink="/profile" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="settings-icon">settings</mat-icon>
      </li>
      <li class="sidebar-menu__item" routerLink="/tasks" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="view_list-icon">view_list</mat-icon>
      </li>
      <li class="sidebar-menu__item sidebar-menu__item_end" routerLink="/login" (click)="onSignOut()">
          <mat-icon aria-hidden="false" aria-label="exit_to_app-icon">exit_to_app</mat-icon>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
