<form [formGroup]="createTaskForm" (ngSubmit)="onCreateTask()">
  <mat-form-field>
    <input type="text"
      matInput
      placeholder="Enter task title"
      formControlName="title"
      required>
    <mat-error *ngIf="createTaskForm.get( 'title' ).invalid">{{errorsMsg}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text"
      matInput
      placeholder="Enter task description"
      formControlName="description"
      required>
    <mat-error *ngIf="createTaskForm.get( 'description' ).invalid">{{errorsMsg}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()" placeholder="Choose a date" formControlName="task_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
    <mat-error *ngIf="createTaskForm.get( 'task_date' ).invalid">{{errorsMsg}}</mat-error>
  </mat-form-field>
  <button mat-button type="submit">Создать</button>
</form>
